<div class="contextual">
<% form_tag({:action => 'revision', :id => @project}) do %>
<%=   l(:label_revision) %>: <%= text_field_tag 'rev', @rev, :size => 8 %>
<%=   submit_tag 'OK' %>
<% end %>
</div>

<h2><%= l(:label_revision_plural) %></h2>

<p><%= render :partial => 'branch_graph',:locals => {:days_commits => index_commits(@changesets, @repository.branches)}%></p>

<% html_title(l(:label_revision_plural)) -%>
