<div class="contextual">
<% form_tag({:action => 'revision', :id => @project}) do %>
<%=   l(:label_revision) %>: <%= text_field_tag 'rev', @rev, :size => 8 %>
<%=   submit_tag 'OK' %>
<% end %>
</div>

<h2><%= l(:label_revision_plural) %></h2>
<%href_proc = Proc.new {|x|url_for(:controller => 'repositories', :action => 'revision', :id => @project, :rev => x)}%>
<p><%= render :partial => 'branch_graph',:locals => {:days_commits => index_commits(@changesets, @repository.branches, href_proc)}%></p>

<% html_title(l(:label_revision_plural)) -%>
